[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-extensions = "*"
django-debug-toolbar = "*"
django-environ = "*"
werkzeug = "*"
django-registration-redux = "*"

[dev-packages]
black = "*"
flake8 = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
