<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block meta %}{% endblock meta %}
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <title>{% block title %}{% endblock title %}</title>
</head>

<body class="sans-serif">
  <header class="header bg-black b--white-10 flex">
    <h1 class="f3 ma1 lh-title white"><i class="fas fa-headphones white ph2"></i>Django Music</h1>
    <nav class="flex justify-end bb ">
      <div class="flex-grow pa3 flex items-center"></div>
    </nav>
  </header>

  <div class="ma5">
    {% block content %}
    {% endblock content %}
  </div>
</body>

</html>
