{% extends "base.html" %}

{% block content %}

<h2>Album Detail</h2>

<a href={% url 'list_albums' %}>Back to all albums</a>
<div class="ma5 pa2 f6 lh-copy ba b--light-silver br2 measure-narrow">
  <p class="album_title f3 fw6 db dark-pink">{{ album.title }}</p>
  <p class="f5 gray">{{ album.artist.name }}</p>
  {% if album in user.fav_albums.all %}
    <a href={% url 'mark_favorite' album_pk=album.pk %}><i class="fas fa-heart hot-pink"></i></a>
  {% else %}
    <a href={% url 'mark_favorite' album_pk=album.pk %}><i class="far fa-heart"></i></a>
  {% endif %}

</div>
{% endblock content %}
